PSI_stage/application/libraries/myxsd/PSI/accountlogin.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="API_username"/>
        <xs:element type="xs:string" name="API_password"/>
        <xs:element type="xs:string" name="API_key"/>
        <xs:element type="xs:string" name="accountName"/>
        <xs:element type="xs:string" name="accountPasswd"/>
        <xs:element type="xs:string" name="type"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>

