PSI_beta/application/libraries/myxsd/PSI/transhistorysummary.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="API_username"/>
        <xs:element type="xs:string" name="API_password"/>
        <xs:element type="xs:string" name="API_key"/>
        <xs:element type="xs:string" name="loginName"/>
        <xs:element type="xs:string" name="billNo"/>
        <xs:element type="xs:string" name="referenceId"/>
        <xs:element type="xs:string" name="startDate"/>
        <xs:element type="xs:string" name="endDate"/>
        <xs:element type="xs:string" name="statusDesc"/>
        <xs:element type="xs:string" name="pageNum"/>
        <xs:element type="xs:string" name="perPage"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>

