PSI_stage/application/libraries/myxsd/credentials/debug.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="API_username"/>
        <xs:element type="xs:string" name="API_password"/>
        <xs:element type="xs:string" name="API_key"/>
        <xs:element type="xs:string" name="billNo"/>
        <xs:element type="xs:string" name="referenceId"/>
        <xs:element type="xs:string" name="salesId"/>
        <xs:element type="xs:string" name="authCode"/>
        <xs:element type="xs:string" name="transactionId"/>
        <xs:element type="xs:string" name="amount"/>
        <xs:element type="xs:string" name="cardHolderIp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>