PSI_stage/application/libraries/myxsd/credentials/transhistorysummary.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="API_username"/>
        <xs:element type="xs:string" name="API_password"/>
        <xs:element type="xs:string" name="API_key"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="agt"/>
        <xs:element type="xs:string" name="appUserId"/>
        <xs:element type="xs:string" name="loginName"/>
        <xs:element type="xs:string" name="billNo"/>
        <xs:element type="xs:string" name="paymentOrderNo"/>
        <xs:element type="xs:string" name="statusDesc"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:string" name="telNumber"/>
        <xs:element type="xs:string" name="zipCode"/>
        <xs:element type="xs:string" name="startDate"/>
        <xs:element type="xs:string" name="endDate"/>
        <xs:element type="xs:string" name="pageNum"/>
        <xs:element type="xs:string" name="perPage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>