PSI_stage/application/libraries/myxsd/credentials/webuseraddedit.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="API_username"/>
        <xs:element type="xs:string" name="API_password"/>
        <xs:element type="xs:string" name="API_key"/>
        <xs:element type="xs:string" name="userId"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="middleName"/>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:string" name="institute"/>
        <xs:element type="xs:string" name="desig"/>
        <xs:element type="xs:string" name="loginName"/>
        <xs:element type="xs:string" name="loginPasswd"/>
        <xs:element type="xs:string" name="emailAdd"/>
        <xs:element type="xs:string" name="accountStatus"/>
        <xs:element type="xs:string" name="groupId"/>
        <xs:element type="xs:string" name="appUserId"/>
        <xs:element type="xs:string" name="userCondition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>