PSI_beta/application/libraries/myxsd/card/CARDISSUE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="API_username"/>
        <xs:element type="xs:string" name="API_password"/>
        <xs:element type="xs:string" name="API_key"/>
        <xs:element type="xs:string" name="FirstName"/>
        <xs:element type="xs:string" name="LastName"/>
        <xs:element type="xs:string" name="Address1"/>
        <xs:element type="xs:string" name="City"/>
        <xs:element type="xs:string" name="ZipCode"/>
        <xs:element type="xs:string" name="CountryCode"/>
        <xs:element type="xs:string" name="DistributorCode"/>
        <xs:element type="xs:string" name="CardStyle"/>
        <xs:element type="xs:string" name="Phone"/>
        <xs:element type="xs:string" name="Email"/>
        <xs:element type="xs:string" name="DOB"/>
        <xs:element type="xs:string" name="bin"/>
        <xs:element type="xs:string" name="VerifySSNOverride"/>
        <xs:element type="xs:string" name="VerifyDOBOverride"/>
        <xs:element type="xs:string" name="GeoIPCheckOverride"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

