PSI_beta/application/libraries/myxsd/card/VIEWSTATEMENT.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="API_username"/>
        <xs:element type="xs:string" name="API_password"/>
        <xs:element type="xs:string" name="API_key"/>
        <xs:element name="ViewStatement">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="Cardholderid"/>
              <xs:element type="xs:date" name="StartDate"/>
              <xs:element type="xs:date" name="EndDate"/>
              <xs:element type="xs:string" name="ViewStyle"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

