PSI_beta/application/libraries/myxsd/credentials/nodelist.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="API_username"/>
        <xs:element type="xs:string" name="API_password"/>
        <xs:element type="xs:string" name="API_key"/>
        <xs:element type="xs:string" name="nodeId"/>
        <xs:element type="xs:string" name="nodeName"/>
        <xs:element type="xs:string" name="moduleName"/>
        <xs:element type="xs:string" name="pageNum"/>
        <xs:element type="xs:string" name="perPage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>